@import url('https://fonts.googleapis.com/css2?family=Rubik');

/* g setting */
html,
html * {
 box-sizing: border-box;
 font-family: 'Rubik', 'sans-serif';
}

*:before,
*:after {
 box-sizing: inherit
}

/* body */
body {
 font-family: 'Rubik', 'sans-serif';
 padding: 0;
 margin: 0;
 background-color: #f4f4f4;
 direction: rtl;
}

/* main */
main {
 display: flex;
 flex-wrap: wrap;
}

main>section {
 width: 100%;
 margin: auto;
 overflow: hidden;
}

/* header */
#header {
 background: #353637;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-content: center;
 align-content: center;
 border-bottom: 3px solid #32a0c2;
 padding: 0px 120px;
 height: 83px;

}

#branding h1 {
 font-size: 28px;
}

/* nav */
nav>ul {
 margin-top: 0px;
 list-style-type: none;
}

#header a {
 color: white;
 text-decoration: none;
}

nav>ul>li {
 float: right;
 margin-top: 30px;
 margin-left: 20px;
 font-size: 21px !important;
}

li a {
 text-decoration: none;
 color: white;
}

#header .highlight,
#header .current a {
 color: #32a0c2;
}

/* The Banner (Show Case) And newsletter*/
#showcase {
 min-height: 400px;
 background-image: url(../img/cover.png);
 background-size: cover;
 text-align: justify;
 color: white;
 padding: 15px;
}

#showcase h2 {
 margin-top: 100px;
 font-size: 55px;
 margin-bottom: 10px;
}

#newsletter {
 padding: 15px 120px;
 color: white;
 background: grey;
 flex-flow: row wrap;
 justify-content: center;
 align-content: center;
 align-items: center;
}

#newsletter h1 {
 float: right;
}

#newsletter form {
 float: left;
 margin-top: 15px;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-content: center;
 align-items: center;
}

#newsletter input[type='email'] {
 padding: 19px;
 height: 25px;
 width: 250px;
 border: none;
}

.button {
 height: 38px;
 background: #ccc;
 padding-left: 20px;
 padding-right: 20px;
 color: rgb(72, 69, 69);
 border: none;
 font-size: 24px;
}

